# Ejercicio 9.3

Calcular la prima única del seguro temporal siguiendo una aproximación de proyección y descuento de flujos de caja (cash flow approach).
* Edad: 40 años
* Horizonte: 20 años
* Capital: 10.000
* Tabla: GKM95%
* Interes: 3%

In [1]:
from pyliferisk import MortalityTable
from pyliferisk.mortalitytables import GKM95
import numpy as np
mt = MortalityTable(nt=GKM95)
x, n, C, i = 40, 20, 10000, 0.03

payments = np.zeros(n)
for t in range(0, n):
   payments[t] = (mt.lx[x+t] - mt.lx[x+t+1]) / mt.lx[x] * C

discount_factor = np.zeros(n)
for y in range(0, n):
   discount_factor[y] = 1 / (1 + i) ** (y + 0.5)

print(np.dot(discount_factor, payments).round(2))

646.15

* Usando Pandas:

In [2]:
import pandas as pd

df = pd.DataFrame(np.arange(x,x+n+1), columns=['edad'])
df['t'] = np.arange(0,n+1)
df['lx'] = df['t'].apply(lambda t : mt.lx[x+t])
df['qx'] = df['lx'].diff(-1).fillna(0)/df['lx'][0]
df['payments'] = df['qx'] * C
df['disc'] = df['t'].apply(lambda t : 1 / (1 + i) ** (t + 0.5))
df

    edad   t            lx        qx   payments      disc
0     40   0  96411.083611  0.001869  18.694000  0.985329
1     41   1  96230.852731  0.001995  19.945644  0.956630
2     42   2  96038.554618  0.002136  21.362137  0.928767
3     43   3  95832.599938  0.002296  22.957420  0.901716
4     44   4  95611.264965  0.002476  24.762851  0.875452
5     45   5  95372.523636  0.002681  26.814998  0.849954
6     46   6  95113.997336  0.002915  29.147510  0.825198
7     47   7  94832.983031  0.003180  31.795890  0.801163
8     48   8  94526.435414  0.003479  34.788396  0.777828
9     49   9  94191.036715  0.003816  38.157639  0.755173
10    50  10  93823.154783  0.004193  41.930431  0.733178
11    51  11  93418.898956  0.004613  46.128515  0.711823
12    52  12  92974.168946  0.005078  50.777926  0.691090
13    53  13  92484.613459  0.005590  55.895917  0.670961
14    54  14  91945.714865  0.006149  61.487827  0.651419
15    55  15  91352.904063  0.006755  67.553581  0.632445
16    56  16  90701.612669  0.007409  74.092064  0.614025
17    57  17  89987.283048  0.008109  81.094982  0.596140
18    58  18  89205.437538  0.008855  88.551200  0.578777
19    59  19  88351.705819  0.009644  96.443495  0.561920
20    60  20  87421.883632  0.000000   0.000000  0.545553

In [3]:
print(np.dot(df.payments, df.disc).round(2))

646.15